div#zoom-img-wrapper {
  position: absolute;
  top: 0px;
  left: 75%;
  width: 400px;
  height: 300px;	
  border: 5px solid #000;
  background: #fff;
  overflow: hidden;
  z-index: 1000;
}

img#zoom-img {
  position: absolute;
  top: 0px;
  left: 0px;
}

a.imagezoom {
  cursor: crosshair;
}

#imagezoom-thumb-wrapper .imagezoom-thumb {
  float: left;
  padding: 5px 5px 0px 0px;
}